@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Playfair+Display&family=Prociono&display=swap');

body{
  overflow-x: hidden;
}
/*                          nav                         */
.custom-bg {
    background-color: #082032;
}

/*                          main                        */ 
.w-100 {
  height: 100vh;
}
.carousel-caption h5{
  font-family: 'Playfair Display', serif;
}
.carousel-caption p{
  font-family: 'Prociono', serif;
}
.carousel-caption p a {
  font-family: 'Play', sans-serif;
}
/*                          descrição                       */ 
.caixaBio{
  display: flex;
}
.about-text{
  display: flex!important;
  align-items: center;
  flex-direction: column;
}
/*                         janelas flutuantes                 */ 
body.overlay-open {
  overflow: hidden; 
}
body.overlay-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}
#janela {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  z-index: 1;
}
.fechar{
  cursor: pointer;
  display: flex;
  width: 97%;
  justify-content: end;
  z-index: 2;
}
.imgSlider{
border-radius: 15px 15px 0px 0px;
}

/*                         casas                             */
  .comodos{
    display: flex;
    justify-content: space-evenly;
  }
  .card-body{
    text-align: center;
    align-self: center;
    width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-body p{
    text-align: start;
  }
  .inner{
    overflow: hidden;
  }
  .inner img{
    transition: all 1.5s ease;
  }
  .inner:hover img{
    transform: scale(1.2);
  }
  /*                          serviços                             */
  .filho{
    height: 260px!important;
    }
  .containerServiços{
    background: url(https://g.foolcdn.com/editorial/images/649376/steelhighrise.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /*                                     footer                    */
  footer{
    height: 35vh;
  }
  
  .main-title{
    margin-bottom: 3rem;
  }
  
  .Caixa{
    height: 35vh;
    align-content: center;
    align-items: center;
  }
  .indacadores{
    bottom: 12rem!important;
    }
    .carousel-control-prev, .carousel-control-next{
    height:60%;
    }
    .title  {
      bottom: 14rem !important;
      letter-spacing: 10px;
      justify-self: center;
    }
@media (max-width: 575.98px) {
  .cardCasa{
justify-content:center;
}
.colCasas{
  width: 100%!important;
  text-align: -webkit-center;
}
.cardServiços{
  margin: 1rem!important;
}
.card{
  width: 65%!important;
}
.filho{
  width: 65%!important;
}
.main-title{
  margin-bottom: 1rem!important;
}
.carousel-caption p{
    display: none;
}
.janelaImg img{
  height: 45vh;
  object-fit: cover;
}
.janela{
  height: 90%;
  width: 85%;
}
.indacadores{
  bottom: 16rem!important;
  }
  .carousel-control-prev, .carousel-control-next{
  height:50%;
  }
  .title  {
    bottom: 14rem !important;
    letter-spacing: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item img {
    height: 40vh;
    object-fit: cover;
 }
 .carousel-control-prev, .carousel-control-next{
   height: 40vh;
 }
  .cardCasa{
    justify-content:center;
}
.colCasas{
  width: 45%!important;
}
.card{
  width: 100%!important;
  text-align: center;
}
.filho{
  width: 50%!important;
  text-align: center;
}
.containerServiços{
  align-items: center;
  justify-content: center;
}
.cardServiços{
  justify-content: center;
  margin: 1rem!important;
}
.main-title{
  margin: auto;margin-bottom: 1rem!important;
}
.janelaImg img{
  height: 60vh;
  object-fit: cover;
}
.janela{
  height: 90%;
  width: 85%;
}
.indacadores{
  bottom: 13rem!important;
  }
  .carousel-control-prev, .carousel-control-next{
  height:50%;
  }
  .title  {
    bottom: 14rem !important;
    letter-spacing: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cardCasa{
    justify-content:center;
    gap: 2rem;
}
.colCasas{
  width: 28%!important;
}
.card{
  width: 114%!important;
}
.filho{
  width: 100%!important;
}
  .containerServiços{
    width: 100%!important;
    align-items: center;
    justify-content: center;
}
  .conteudo{
  width: 85%!important;
  }
.cardServiços{
  width: 78%;
  justify-content: center;
  margin: 1rem!important;
}
.janelaImg img{
  height: 60vh;
  object-fit: cover;
}
.janela{
  height: 95%;
  width: 70%;
}
.indacadores {
  bottom: 13rem !important;
}
  .carousel-control-prev, .carousel-control-next{
  height:50%;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px){
  .cardCasa{
    justify-content:center;
    gap: 2rem;
  }

  .containerServiços{
    width: 100%!important;
    align-items: center;
    justify-content: center;
}
  .conteudo{
    width: 75%!important;
  }
  .pai{
    justify-content: space-around!important;
  }
.cardServiços{
justify-content:center;
width: 60%;
margin: 1rem!important;
}
.janelaImg img{
  height: 60vh;
  object-fit: cover;
}
.janela{
  height: 95%;
  width: 60%;
}
  .carousel-control-prev, .carousel-control-next{
  height:50%;
  }
}

@media (min-width: 1200px) {
  .capaImg img{
  height: 100vh;
  object-fit: cover;
  }
  .janelaImg img{
    height: 60vh;
    object-fit: cover;
  }
  .cardCasa{
    justify-content:center;
  }
  .colCasas{
    width: 23%!important;
  }
  .card{
    width: 102%!important;
  }
  .filho{
    width: 102%!important;
  }
  .cardServiços{
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 100%;
    margin: 1rem!important;
  }
.containerServiços{
  width: 52%!important;
  align-items: center;
  justify-content: center;
}
  .conteudo{
    width: 46%!important;
  }
  .janela{
    height: 90%;
    width: 45%;
}
  .carousel-control-prev, .carousel-control-next{
  height:65%;
  }

}
