@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display&family=Prociono&display=swap');

.text-center h2, .titulo{
    font-family: 'Playfair Display', serif;
}
.text-center p .list-unstyled{
    font-family: 'Prociono', serif;
}
.btn{
    font-family: 'Play', sans-serif;
}