
.capa{
background: url(https://i.pinimg.com/originals/1a/f3/54/1af3543d4ccd7d9f074386a6c0f409d7.jpg)no-repeat ;
background-size: cover;
background-position: center;
}
.text-center{
color: aliceblue;
}
.logo{
  height: 20vh;
}


.titulo{
  color: black!important;
  margin: 3rem;
  letter-spacing: 1rem;
}
.logo img{
  width: 70%;
}
.info{
  gap: 4rem;
}
.list-unstyled{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
}
@media (max-width: 575.98px) {
.capa{
height: 30vh!important;
}
.text-center {
  align-self: flex-end;
}
.titulo{
margin: 1rem;
}
.caixa{
  flex-direction: column!important;
}
.logo{
  height: 20vh;
  display: none;
}
.logo img{
  width: 70%;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
.capa{
  height: 39vh!important;
}
.titulo{

}
.text-center {
  align-self: flex-end;
}
.caixa{
  flex-direction: column!important;
}
.logo{
  height: 20vh;
  display: none;
}
.logo img{
  width: 70%;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .capa{
  height: 58vh!important;
  }
	.caixa{
		flex-direction: column!important;
	}
  .titulo{

  }
	.logo{
	  height: 20vh;
	  display: none;
	}
	.logo img{
	  width: 70%;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px){
  .capa{
  height: 70vh!important;
  }
  .conteudo{

  }
  .titulo{
color: black!important;
margin: 2rem;
  }
  .logo{

  }
  .caixa{
  
  }
  .info{
    gap: 0rem;
  }
  .list-unstyled{ 
    margin-top: 0rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .capa{
  height: 90vh!important;
  }
  .conteudo{
    
  }
  .titulo{

  }
  .logo{

  }
  .infoSala{

  }
  .list-unstyled{

  }
  .caixa{
  
  }
}
@media (min-width: 1441px){
  .conteudo{
    
  }
  .logo{

  }
  .logo img{
    
  }
  .infoSala{

  }
  .list-unstyled{

  }
  .caixa{
  
  }   
}
.conteudo{
    
}